
.footerIcons {
    display:flex;
    align-content: flex-start;
    justify-content: center;
    gap: 20px;
    
   /*background-color: yellow;*/   
}
.icons1 {
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: none;
    outline: none;
}

.icons1:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px; 


}
.icons2 {
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: none;
    outline: none;
}
.icons3 {
    cursor: pointer;
    position: relative;
    z-index: 0;
    border: none;
    outline: none;  
}

.footerText {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
   
    color:rgb(0, 0, 0);

   /*background-color: turquoise;*/

}