.grid-container {
        /* padding: 4% 13% 4% 13%; */
    /* display: grid; */
    /* grid-template-columns: auto auto auto auto; */
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5%;
    /* grid-auto-rows: minmax(100px, auto); */
    margin: 2% 8% 4% 8%;
}


.grid-item {
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
}

@media (max-width: 1317px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
