.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

@media (max-width: 1317px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }
}
