.grid-container{
    padding: 20px;
    clip-path: polygon(50% 2%, 100% 0, 100% 70%, 100% 100%, 50% 98%, 0 100%, 0 0);
    background-color: rgba(197, 243, 241, 0.397);
    display: grid;
    grid-template-columns: auto auto auto auto;

}
.grid-item {
 display: flex;
 justify-content: center;
    background-color: rgba(197, 243, 241, 0.198);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }



  @media(max-width: 1317px){
    .grid-container{
      
       grid-template-columns:auto auto;
    }
}
@media(max-width: 600px){
     .grid-container{
       
        grid-template-columns:auto;
     }
}